.category {
    font-size: xx-large;
    height: 100px;
}

.inner-container, .inner-container .btn {
    font-size: larger;
}

.question-text {
    font-size: xx-large;
}

.total {
    font-size: larger;
}

.round-counter {
    font-size: larger;
}

.btn-sq {
    width: 55px;
    height: 55px;
}

.questions-count {
    font-size: medium;
}